<header> 

    <h2>TinyApp</h2>
    <% console.log(user) %>
    <% if (user) { %> 
        <%= user.email %>
        <div class="welcome-msg">
          <p>Welcome, <%= user.email %> </p>
          <form method='POST' action="/logout">
            <input type='submit' value='logout'>
          </form>
        </div>
        <% } else { %> 
          <a href="/login" >
                <button type="submit"> Login </button></a>
              <a href="/register">
              <button  type="submit"> Register </button></a>
    


        <% } %> 

</header>



