<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<title>TinyApp </title>
</head>
<body style="font-size:20px; padding:50px;">
<h2>Login TinyApp Account</h2>

<body style="font-size:20px; padding:50px;">
  <form method="POST" action="/login">
  <input type="email" name="email" placeholder="Enter Email">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" class="btn btn-primary" value="login" />
</form> 
</body>
</html>